:root{
    box-sizing: border-box;
}
*,
::after,
::before{
    box-sizing: inherit;
}
body * + *{
    margin-top: 1.5em;
}

/*layout*/
/*double container pattern*/
.container{
    max-width: 1080px;
    margin: 0 auto;
}
article{
    float: left;
    width: 50%;
}

/*fine float*/
section ::after{
    display: block;
    content: " ";
    clear: both;
}

/* float article*/
section div article p{
    overflow: auto;
}
section div article img{
    float: left;
    margin-right: 1.5em;
    margin-bottom: .5em;
}
